/* Menu */
.header__navbar ul li.active > a {
    color: #FC2B00;
}
.header__navbar ul li a {
    border-left: none;
    color: #e16a08be;
    text-transform: uppercase;
}
.header__navbar ul li a:hover {
    color: #e16a08be;
}
.bot-line {
    background-color: #e16a08be;
}

/* Banner */
.main_fundo {
    background-color: #FC2B00;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#fc2a2abb), to(#e16a08be)), url(../img/banners/fundo.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    padding: 320px 100px;
}

.main_fundo  header h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 4em;
    margin-top: 40px;
}


/* 360 */
@media (max-width: 360px){
    .main_fundo {
        padding: 160px 0 !important;
        background-size: 100% 90%;
        background-position: center;
        background-repeat: no-repeat !important;
    }
    .main_fundo header h1 {
        margin-top: 10px;
        font-size: 1em !important;
    }
}

/* Quem Somos */
.main_fundo_quem_somos {
    background-color: #FC2B00;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#fc2a2abb), to(#e16a08be)), url(../img/banners/quem_somos.jpg);
    background-position: center;
    background-size: 100%;
    width: 100%;
    padding: 290px 100px;
}